<d2-authorization menuoption="F_APPROVE_DATA"></d2-authorization>
<br>
<div class="row">
<div class="container col-md-10">
<div class="panel panel-default">
<div class="panel-heading"><strong>{{'CONCORDANCE_TITLE' | translate}}</strong>
	<button type="button" class="btn btn-default pull-right" ng-model="collapsed" ng-click="collapsed=!collapsed">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
</button>
	</div>
  <div class="panel-body">
	<div class="row" ng-hide="collapsed">
	<div class="row">
			<div class="col-md-6"> <label>{{ 'PROGRAM1' | translate }}</label> <d2-dropdownprograms></d2-dropdownprograms> </div>
			<div class="col-md-6"><label>{{ 'PROGRAM2' | translate }}</label> <d2-dropdownprograms></d2-dropdownprograms></div>
	</div>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="container col-md-10">
<div class="panel panel-default">
<div class="panel-heading"><strong>{{'CONCORDANCE_RULE_TITLE' | translate}}</strong>
	<button type="button" class="btn btn-default pull-right" ng-model="collapsedR" ng-click="collapsedR=!collapsedR">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
</button>
	</div>
	  <div class="panel-body">
	<div class="row" ng-hide="collapsedR">
		<tabset justified="true">
	    <tab heading="Atributos de persona">
	    <d2-dropdownattributeprogram></d2-dropdownattributeprogram>
   		<d2-dropdownattributeprogram></d2-dropdownattributeprogram>
	    </tab>
	    <tab heading="Campos del formulario">Short Labeled Justified content</tab>
	  </tabset>
  </div>
  </div>
</div>
</div>
</div>

<br>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary" ng-click="GetValueOfDataSet()" type="submit">{{ 'CONCORDANCE_SAVE' | translate }}</button>
		<button class="btn btn-default" ng-click="Clearform()" type="submit">{{ 'CONCORDANCE_CANCEL' | translate }}</button>
	</div>
</div>
<br>