<div class="dropdown" ng-controller="d2DropdownattributeprogramController">
 <div class="dropdown">
	  <label>{{ 'ATTRIBUTE1' | translate }}</label>
	  <br>
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    {{AttributeName?AttributeName:'ATTRIBUTE_LIST' | translate}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
		   <li ng-repeat="data in ListAttributeprogram.dataSets">
			   <a  ng-click='selectAttributeprogram(data)'>{{data.name}}</a>
		   </li>
	   </ul>
	</div>
</div>

